[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "components/lodepng"]
	path = components/lodepng
	url = https://github.com/lvandeve/lodepng.git
